@charset "gb2312";
#wrap{ background:#efefef;}
/*头部背景*/
#top-outerbg{background:url( "./../../images/theme/valentine20140213_02.png" ) top center #efefef no-repeat;height:407px;  }
/*LOGO
.header .logo {
	background-image: url(../../images/logo.png);
}*/