@charset "gb2312";
#wrap{ background:#f6f6f6;}
/*头部背景*/
#top-outerbg{background:url( "./../../images/theme/byj_bg.jpg" ) top center #f6f6f6 no-repeat;height:1000px;  }
#top-innerbg{  }
/*底部背景*/
#bottom-outerbg{}

/*边框颜色*/
.col-usage, .col-coolsite, .col, .fmSite-tab li, dl, ul.col-row02, .comBox, #botNavi, .sedulist,.m-search,.botNavi ,.ecRow, .btmContent,dl.col-row01{
	border-color: #9dcbf3;
}
.btmContent .tabHander li,ul.colTitle li.active,ul.colTitle li,.btmContent .tabHander li{
	border-top-color: #9dcbf3;
}
/* 背景颜色 底部电商 
.ecRow .ecBottomLine,.btmContent .tabHander,.starCol .txt1Row2 a{ background:#2461a4; }

*/
/*字体颜色
.tilTxt,.botNavi .botBlue,.ecRow .ecTilTxt .ecTilSpan,.col-hotKeys .hotKeys a, .box-prlInq .tit, .box-prlInq .more, .usage-tab .active, .col-coolsite .tit, .fmSite-tab li, .box-tuan a, .sortSite .tit a, .recomSite .tit a ,ul.colnavi li a, #botNavi ul li a.hex{
	color: #1589eb;
}*/

/*搜索框选中及头部
.m-search-tab .active,.s-hot .hot-til,.s-hot .hot-con .bot-nub, .col-hotKeys .bot-nub{
	background:#014fa1;
}
.s-hot .hot-con{ border-color:#014fa1; }*/
/*星座链接
.starRow2 .detail,.starCol .star_chose a:hover{ color:#1589eb; }

*/

/*搜索框 新闻热点
.m-search,.s-hot .hot-con .cur{ background:#e7f1fe; }
.s-hot .hot-con .bot-nub{background:#2461a4;}
*/

/* 图标
ul.col-row02 li, #botNavi ul li span, .morCrt a, ul.colTitle, span#mcLft, span#mcRgt,ul.colnavi li span ,.scroCtr a, .tilTxt .tilIcon, .btmc_con .btmc_la, .btmc_con .btmc_ra, .ecRow .ecTilTxt .ecTilIcon
,ul.col-row02 li, #botNavi ul li span, .morCrt a, ul.colTitle, span#mcLft, span#mcRgt,.s-hot .hot-clock,.topbar .wel ul li.mcol a.home:hover, .header .notice,#ldMore,
.footer .copyright .appleDownload, .footer .copyright .azDownload{
	background-image: url(../../images/theme/icon-qhc.png);
}

.header .notice {
	background-position: -236px -69px;
}
.topbar .wel ul li.mcol a.home:hover{
	background-position: -232px -36px;
}
#ldMore{
	background-position: -232px 0px;
}
#ldMore.my{
	background-position: -253px 0px;
} */
/*LOGO
.header .logo {
	background-image: url(../../images/theme/qhc_logo.png);
}*/